<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MOSTAFA OROUK</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">
    <link rel="icon" href="favicon.ico">
</head>
<body>
    <div class="top-container">
        <img class="me" src="static/images/me.jpg">
        <h1>Moustafa Waheed Orouk.</h1>
    </div>
    <div class="middle-container">
        <div class="profile">
            <h2>Hello.</h2>
            <p class="intro">I am a Data scientist. but Occasionally I do web development as well..</p>
            <p class="passion">My Passion is studying and researching Machine learning and AI progress and development! </p>
        </div>
    </div>
    <hr>
    <div class="skills">
      <h2>What am I good at?.</h2>
      <div class="skill-row">
        <img class="code-img" src="static/images/skills.jpg" alt="skills-img">

        <h3>Coding, Design & Development</h3>
        <p>My most valuable asset is to intuitively learn and understand new skills.</p>
        <p>I am Experienced and learned in Python, R, Tensor flow, GitHub and have applied my abilities in many machine learning projects! </p>
      </div>
    </div>
    <hr>
    <h4>Contact me!</h4>
    <div class="contact-me">
        <div class="twitter">
            <a href="https://twitter.com/MostafaOrouk"><img class="twitter-img" src="static/images/Logo_of_Twitter.svg.png"></a>
        </div>
        <div class="linkedin">
            <a href="https://www.linkedin.com/in/moustafa-orouk-b61207270/"><img class="linkedin-img" src="static/images/Linkedin-Logo.png"></a>
        </div>
        <div class="gmail">
                <img class="gmail-img" src="static/images/gmail.png">
                <p>moustafaorouk@gmail.com</p>
        </div>
    </div>
</body>
</html>